.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    pointer-events: none;
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 14px sans-serif;
}

.connection {
    stroke: black;
    stroke-dasharray: 5;
    stroke-width: 3px;
    opacity: 0.7;
}

my_dataviz {
    background-color: black;
    opacity: 1;
}
.crimeClockVis {
    background: #fff;
}

.clock{
    stroke: #000;
    stroke-width: 1px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#rim {
    fill: none;
    stroke: rgba(146, 236, 255, 0.47);
    stroke-width: 1px;
}

.second-hand{
    stroke-width:1;

}

.minute-hand{
    stroke-width:6;
    stroke-linecap:round;
    fill: rgba(10, 117, 140, 0.47);
    opacity: 80%;
}

.hour-hand{
    stroke-width:10;
    stroke-linecap:round;
}

.hands-cover{
    stroke-width:3;
    fill: rgba(10, 117, 140, 0.47);
}

.second-tick{

    stroke-width:1;
    fill: rgba(10, 117, 140, 0.47);
    opacity: 80%;
}

.hour-tick{

    stroke-width:6; //same as the miute hand
fill: rgba(10, 117, 140, 0.47);
    opacity: 80%;
}

.second-label{
    font-size: 12px;
}

.hour-label{
    font-size: 24px;
}