.Center {
    width:200px;
    height:200px;
    position: fixed;
    background-color: blue;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
#container {width:100%; height: 100%; margin:30px auto; clear: both; padding: 5px 0}
#box-1 {outline: 1px solid red; float: left; width: 100%; height: 9%;}
#box-2 {outline: 1px solid olive; float: right; width: 53%; height: 30%; justify-content: center;}
#box-3 {outline: 1px solid fuchsia; float: left; width: 46%; height: 75%}
#box-4 {outline: 1px solid maroon; float: right; width: 27%; height: 50%;}
#box-5 {outline: 1px solid maroon; float: right; width: 27%; height: 50%;}
#box-6 {outline: 1px solid blue; float: left; width: 100%; height: 5%;}

.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    pointer-events: none;
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 14px sans-serif;
}
.bar{

}
.charts{
    background: lightcyan;
    opacity: 80%;
}

.connection {
    stroke: black;
    stroke-dasharray: 5;
    stroke-width: 3px;
    opacity: 0.7;
}

my_dataviz {
    background-color: black;
    opacity: 1;
}
.crimeClockVis {
    background: #fff;
}

.clock{

    stroke: #000;
    stroke-width: 1px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#rim {
    fill: none;
    stroke: rgba(146, 236, 255, 0.47);
    stroke-width: 1px;
}

.second-hand{
    stroke-width:1;

}

.minute-hand{
    stroke-width:6;
    stroke-linecap:round;
    fill: rgba(10, 117, 140, 0.47);
    opacity: 80%;
}

.hour-hand{
    stroke-width:10;
    stroke-linecap:round;
}

.hands-cover{
    stroke-width:3;
    fill: rgba(10, 117, 140, 0.47);
}

.second-tick{

    stroke-width:1;
    fill: rgba(10, 117, 140, 0.47);
    opacity: 80%;
}

.hour-tick{

    stroke-width:6; //same as the miute hand
fill: rgba(10, 117, 140, 0.47);
    opacity: 80%;
}

.second-label{
    font-size: 12px;
}

.hour-label{
    font-size: 24px;
}
.d3-tip {
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}


div.tooltip {
    width: 200px;
    height: 125px;
    background-color: white;
    border: 1px solid #969696;
    position: absolute;
}

p.tooltip {
    font-size: 18px;
    font-weight: 1;
    padding-left: 10px;
}

.axis-title {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    pointer-events: none;
}

.tooltip_stack{
    font-size: 13px;
}

